
    a{
        text-decoration: none;
    }

    

    h2{
        font-size: 50px;
    }

    

    .cards{
        
        display: flex;
        // align-items: center;
        flex-wrap: wrap;


        .card{
            position: relative;
            padding: 20px;
            flex-basis: 33.3%;
            img{
                width: 100%;
            }

            &__showcase{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
            }

            .category{
                
                position: absolute;
                background-color: white;
                padding: 10px 20px;
                border-radius: 2rem;
                right: 30px;
                top: 30px;
            }
        }
    }

